<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">hallo page 1</a></br>
<%= link_to('hello_page_2', {:action => 'hello'}) %></br>
<%= link_to('hello_page_with_parametrs', {:action => 'hello', :page=>5, :id=>20}) %></br>
